/* GENERAL STYLING */

* {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

body {
  background-color: #E6ECF0;
}
.container {
  background-color: white;
}

.text-shadow {
  text-shadow: -1px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.padding-top-small-page {
  padding-top: 100px;
  min-height: 83vh;
}

.page-padding-top {
  padding-top: 100px;
}

.hovering {
  transition: all 0.1s ease-in-out;
}

.hovering:hover {
  color: #E6ECF0!important;
}

.general-button {
  border-color: rgb(57, 164, 129);
  background-color: rgb(57, 164, 129);
  color: white;
}

.general-button:hover {
  -moz-box-shadow:    inset 0 0 5px #636262;
  -webkit-box-shadow: inset 0 0 5px #636262;
  box-shadow:         inset 0 0 5px #636262;
}

.login-form {
  margin-top: 30px;
  background-color: #E6ECF0;
}

.create-form {
  background-color: #E6ECF0;
}

.form-header {
  color: rgb(57, 164, 129);

}

/* NAVBAR */

.navbar-toggler-icon {
  color: white!important;
}

.nav-color {
  background-color: rgb(57, 164, 129);
  -webkit-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.75);
}

.nav-item a {
  border-radius: 10%/20%;
  font-weight: 600 ;
  color: white!important;
}

.nav-item a:hover {
  background-color: rgb(62, 180, 141);
}

.nav-item {
  margin-right: 3px;
  color: white!important;
}

.navActive {
  background-color: rgb(62, 180, 141);
  border-radius: 10%;
}


@media (max-width: 991px) {

  .nav-item a {
    width: auto;
    padding-left: 5px!important;
  }
  .nav-item a:hover {
    background-color: #3EA381;
  }

  .nav-item {
    width: auto;
    margin-bottom: 3px!important;
    border-bottom: 1px solid white;
  }
  .nav-item:last-child {
    margin-bottom: 10px!important;
  }

  .navActive {
    background-color: #3EA381;
  }
  .navActive:hover {
    background-color: #3EA381;
  }

}

.hamburger:focus {
  outline: none!important;
}

.hamburger {
  background-color: #48C098!important;
  color: white!important;
  font-size: 20px;
}


.nav-color button {
  background-color: rgb(62, 180, 141);
  border-color: rgb(57, 164, 129);
}

.nav-color button:hover, .nav-color button:active, .nav-color button:focus {
  cursor: pointer;
  outline: none!important;
  background-color: rgb(65, 193, 151)!important;
  border-color: rgb(57, 164, 129);
}

.navProfilePic {
  color: white!important;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.profile-nav {
  color: white;
}

.profile-nav:active, .profile-nav:focus {
  outline: !important;
}

.loginButton {
  margin-right: 5px;
}

/* LANDING PAGE! */

/* CAROUSEL LANDING PAGE */

#myCarousel {
  padding-top: 80px;
  margin-bottom: 5vh;
}


.first-slide, .second-slide, .third-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.first-slide {
  background-image: url("../../images/siteImages/mount3.jpg");
}
.second-slide {
  background-image: url("../../images/siteImages/mount2.jpg");
}
.third-slide {
  background-image: url("../../images/siteImages/mount4.jpg");
}

.carousel-item {
  height: 50vh;
}

.carousel-caption {
  text-shadow: 1px 1px 3px rgba(40, 39, 39, 1);
}

.carousel-caption a {
  text-shadow: none;
  border-color: rgb(57, 164, 129);
  background-color: rgb(57, 164, 129);
  color: white;
}

/* RANDOM USERS LANDING PAGE */

.feat-prof {
  height: 200px;
  width: 200px;
  margin-bottom: 5%;
}

.rand-user {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rand-user img {
  -webkit-box-shadow: 0px 0px 5px 2.5px rgba(198, 195, 195, 0.75);
  -moz-box-shadow: 0px 0px 5px 2.5px rgba(198, 195, 195, 0.75);
  box-shadow: 0px 0px 5px 2.5px rgba(198, 195, 195, 0.75);
}

@media (max-width: 767px) {
  .rand-user img {
    height: 100px;
    width: 100px;
  }

  .rand-user {
    margin: 0 25px;
    flex-flow: row;
    justify-content: space-between;
  }
}

.profile {
  background-color: rgb(57, 164, 129);
  border-color: rgb(57, 164, 129);
}

.profile:hover {
  background-color: rgb(62, 180, 141);
  border-color: rgb(62, 180, 141);
}

/* RANDOM POST LANDING PAGE */


.post-landing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px 40px 5px 40px;
  border: 1px solid;
  border-color: #E5E5E5;
  background-color: #F5F8FA;
  transition: all 0.1s ease-in-out;
}

.post-landing:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(198, 195, 195, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(198, 195, 195, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(198, 195, 195, 0.75);
}

.post-landing h2, .post-landing p, .post-landing a {
  margin-bottom: 0;
}

.post-landing h2 {
  font-size: 25px;
  font-weight: bold;
}

.post-landing h2:hover {
  text-decoration: underline;
  color: #3EA381!important;
  cursor: pointer;

}

.post-landing a, .post-landing p {
  font-size: 15px;
}
.post-landing small {
  font-size: 10px;
}

.rand-post-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/*  PAGE INFO */

.white-profile {
  background-color: white;
  width: 80%;
  margin: 10px 10px 10px 0;
  padding: 5px 10px;
}

.profile-container {
  background-color: #F5F8FA;
  padding: 25px;
}

.userInfo {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.userInfo p {
  text-align: center;
}

.activity-feed {
  font-size: 20px;

}

.activity-feed .text {
  border-radius: 10%/25%;
  padding: 10px;
  font-size: 20px;
  background-color: white;
}

.profilePic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.btn.btn-light.dropdown-toggle {
  background-color: rgb(57, 164, 129);
  border-color: rgb(57, 164, 129);
  color: white;
}

.btn.btn-light.dropdown-toggle:active {
  background-color: #48B48F;
  color: white;
}

/* CHANGE PROFILE IMAGE */
.file-requirements {
  font-style: italic;
  font-size: small;
  color: red;
}
.file-requirements p {
  margin-bottom: 0;
}

/* POSTS PAGE */

.post-page-form {
  margin: auto!important;
}

.show-form {
  display: none;
}

.show-form-2 {
  display: none;
}

.exit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
}

.exit-button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
}

.buttons-post {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.show-hidden {
  display: block;
}

.show-hidden {
  display: block;
}

.all-posts-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.feed-posts {
  width: 70%;
  display: flex;
  align-items: flex-start;
  flex-flow: row;
  border: 1px solid;
  border-color: #E5E5E5;
  background-color: #F5F8FA;
  margin-bottom: 10px;
  transition: all 0.1s ease-in-out;
}

.feed-posts:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(198, 195, 195, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(198, 195, 195, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(198, 195, 195, 0.75);
}

.feed-posts h3 {
  width: auto;
  font-weight: bold;
  margin-bottom: 0;
}

.feed-posts h3 a:hover, .feed-posts h3 a:focus, .feed-posts h3 a:active {
  text-decoration: underline;
  color: #3EA381!important;
  cursor: pointer;
}

.time-posts-name {
  margin-bottom: 15px!important;
}

.engage {
  border-color: rgb(57, 164, 129);
  background-color: rgb(57, 164, 129);
  color: white;
  border: none;
  border-radius: 8%/50%;
  padding: 5px 10px;
  margin: 20px 0 10px 0;
  transition: all 0.05s ease-in-out;
}

.engage:hover, .engage:active, .engage:focus {
  background-color: rgb(65, 193, 151);
}

.engage:active, .engage:focus {
  outline: none;
  -moz-box-shadow:    inset 0 0 10px #807e7e;
  -webkit-box-shadow: inset 0 0 10px #807e7e;
  box-shadow:         inset 0 0 10px #807e7e;
}

.material-icons:hover {
  cursor: pointer;
}

.voteUp, .voteDown {
  border: 0;
  padding: 0;
  background-color: inherit;
}

.voteUp:focus, .voteDown:focus {
  outline: none;
}

.voteUp .material-icons,.voteDown .material-icons {
  height: auto;
  border: 1px solid;
  border-radius: 50%;
  padding: 3px;
  background-color: white;
  font-weight: bold;
}

.voteUp .material-icons {
  color: rgb(57, 164, 129);
  border-color: color: rgb(57, 164, 129);
  transition: all 0.05s ease-in-out;
}

.voteUp .material-icons:hover {
  color: white;
  background-color: rgb(57, 164, 129);
}
.voteDown .material-icons {
  color: rgb(226, 81, 81);
  border-color: color: rgb(226, 81, 81);
  transition: all 0.05s ease-in-out;
}


.voteDown .material-icons:hover {
  color: white;
  background-color: rgb(226, 81, 81);
}

.post-text {
  color: black!important;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.post-text:hover {
  text-decoration: none;
}

.profilePicPosts {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(198, 195, 195, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(198, 195, 195, 0.75);
  box-shadow: 0px 0px 10px 2px rgba(198, 195, 195, 0.75);
  margin-top: 10px;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

@media (max-width: 767px) {
  .profilePicPosts {
    height: 50px;
    width: 50px;
  }
}

.pic-post {
  height: 100%;
  padding-top: 15px;
  width: 20%;
  display: flex;
  justify-content: center;
}

.content-post {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 60%;
  padding: 10px 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

@media (max-width: 992px) {
  .feed-posts {
    width: 100%;
  }
}
.feed-posts p {
  margin-bottom: 0;
}

.voteScore {
  width: 20%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.green {
  color: rgb(57, 164, 129)!important;
}

.red {
  color: rgb(226, 81, 81)!important;
}

.sum {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 3px!important;
}

.topRated {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.post-type-buttons {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
}

.latestPosts, .topRatedPosts  {
  margin: 0;
  width: 45%;
  text-shadow: none;
  border-color: rgb(57, 164, 129);
  background-color: rgb(57, 164, 129);
  color: white;
  border: none;
}

.latestPosts:hover,.topRatedPosts:hover  {
  background-color: rgb(65, 193, 151);
}
.latestPosts:active,.topRatedPosts:active  {
  background-color: rgb(65, 193, 151)!important;
  outline: none !important;
  box-shadow: none;
  border-color: none;
}

.latestPosts:focus, .latestPosts:active, .topRatedPosts:focus,.topRatedPosts:active {
  outline: none !important;
  box-shadow: none;
}

/* ONE POST */

.comment-profpic {
  height: 100%;
  width: 15%;
  display: flex;
  flex-flow: column;
  margin: 15px 0;
  justify-content: center;
  align-items: center;
}

.post-comment {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: #F5F8FA;
  margin-bottom: 10px;
}

.white {
  background-color: white;
  width: 80%;
  margin: 10px 10px 10px 0;
  padding: 5px 10px;
  border-radius: 5%/20%;
}

.post-comment p, .post-comment a {
  margin-bottom: 0;
  font-size: 18px;
}

.post-comment small {
  font-size: 10px;
}



.page-back {
  color: rgb(57, 164, 129);
  border: 0;
  padding: 0;
  background-color: inherit;
}

.page-back:active, .page-back:focus {
  outline: none;
  color: rgb(50, 147, 115);
}

.profilePicPostsComment {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.noresize {
  resize: none;
}

.topRatedPosts:focus {
  outline: none!important;
}

img.d-block {
  max-width: 180%;
  background-size: contain;
}

.quote {
  position: absolute;
  left: 0;
  text-align:center;
  width: 100%
}

.feed-item:after {
  border-color: green!important;
  border-width: 2px!important;
}
