body {
  background-color: #E6ECF0;
}
.container {
  background-color: white;
}

#myCarousel {
  padding-top: 80px;
}

.nav-color {
  background-color: rgb(66, 181, 143);
  -webkit-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.75);
}

.nav-item {
  border-radius: 10%;
  margin-right: 3px;
}

.nav-item:hover {
  background-color: rgb(66, 204, 159);
}
.navActive {
  border-radius: 10%;
  background-color:rgb(65, 193, 151);
}

@media (max-width: 992px) {
  .navActive {
    border-radius: 0%;
  }

  .nav-item a {
    padding-left: 5px!important;
  }

  .nav-item {
    margin-bottom: 3px!important;
  }
  .nav-item:last-child {
    margin-bottom: 10px!important;
  }

}

.hamburger:focus {
  outline: none!important;
}


.nav-color button {
  background-color: rgb(57, 164, 129);
  border-color: rgb(57, 164, 129);
}

.navProfilePic {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.loginButton {
  margin-right: 5px;
}

.userInfo {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.userInfo p {
  text-align: center;
}

.profilePic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.profilePicPosts {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.profilePicPostsComment {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.noresize {
  resize: none;
}

.voteScore {
  display: flex;
  flex-flow: row;
}

.topRated {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.container.pt-5 {
  padding-top: 15vh!important;
}

#myCarousel {
  margin-bottom: 5vh;
}

.first-slide, .second-slide, .third-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.first-slide {
  background-image: url("../../images/siteImages/mount3.jpg");
}
.second-slide {
  background-image: url("../../images/siteImages/mount2.jpg");
}
.third-slide {
  background-image: url("../../images/siteImages/mount4.jpg");
}

.carousel-item {
  height: 50vh;
}

.carousel-caption {
  text-shadow: 1px 1px 3px rgba(40, 39, 39, 1);
}

.carousel-caption a {
  text-shadow: none;
  border-color: rgb(57, 164, 129);
  background-color: rgb(57, 164, 129);
  color: white;
}

img.d-block {
  max-width: 180%;
  background-size: contain;
}

.feat-prof {
  height: 200px;
  width: 200px;
  margin-bottom: 5%;
}

.quote {
  position: absolute;
  left: 0;
  text-align:center;
  width: 100%
}

.rand-user {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rand-user img {
  -webkit-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.75);
}

.profile {
  background-color: rgb(57, 164, 129);
  border-color: rgb(57, 164, 129);
}

.rand-post-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/* CHANGE PROFILE IMAGE */
.file-requirements {
  font-style: italic;
  font-size: small;
  color: red;
}
.file-requirements p {
  margin-bottom: 0;
}

/* PROFILE PAGE */

.btn.btn-light.dropdown-toggle {
  background-color: rgb(57, 164, 129);
  border-color: rgb(57, 164, 129);
  color: white;
}

.btn.btn-light.dropdown-toggle:active {
  background-color: #48B48F;
  color: white;
}
