/* In this file you can add your custom styles. */
.navProfilePic {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.loginButton {
  margin-right: 5px;
}

.userInfo {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.userInfo p {
  text-align: center;
}

.profilePic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.profilePicPosts {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.profilePicPostsComment {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.noresize {
  resize: none;
}

.voteScore {
  display: flex;
  flex-flow: row;
}

.topRated {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}
